name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  packages: write
  id-token: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CHART_DIR: charts/casbin-kube
  CHART_OCI_REPO: oci://ghcr.io/grepplabs/helm

jobs:
  verify-chart:
    uses: ./.github/workflows/_verify-chart.yaml

  release:
    runs-on: ubuntu-latest
    needs: verify-chart
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: v3.19.0

      - name: Login to GHCR helm
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ${{ env.REGISTRY }} -u ${{ github.repository_owner }} --password-stdin

      - name: Package and push chart to GHCR (OCI)
        shell: bash
        run: |
          set -euo pipefail

          CHART_VERSION=$(yq '.version' ${CHART_DIR}/Chart.yaml)
          helm package ${CHART_DIR} --destination dist
          ls -l dist
          
          CHART_PACK="dist/$(basename "$CHART_DIR")-${CHART_VERSION}.tgz"
          echo "Pushing ${CHART_PACK} to ${CHART_OCI_REPO}"
          helm push "${CHART_PACK}" ${CHART_OCI_REPO}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}